<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <meta charset="UTF-8">
    <title>BoardGameApp</title>
</head>

<body>
    <div id="container">
        <input type="text" id="bgInput" list="bg_list">
        <datalist id="bg_list">
            {% for bg in bg_list %}
            <option> {{bg}} </option>
            {% endfor %}
        </datalist>
        <button id="addBgButton" onclick="addBgtoList()">Add Board Game</button>

        <ul id="list">
        </ul>

        <button id="submitButton" onclick="submitBGs()">Submit</button>
    </div>

    <script>
        function addBgtoList() {
            var bg_name = document.getElementById("bgInput").value;
            var ul = document.getElementById("list");
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(bg_name));
            ul.appendChild(li);

            var deleteButton = document.createElement("button");
            deleteButton.setAttribute('id', 'deleteButton')
            li.appendChild(deleteButton);
            deleteButton.onclick = function () {
                this.parentElement.style.display = "none";
            }
        }
    </script>

    <script>
        function submitBGs() {
            var bg_l = document.getElementById("list").getElementsByTagName("li")
            alert(bg_l)
        }
    </script>
</body>

</html>